body {
  background: #f6ea9c;
}

.drag-item {
  display: inline-block;
  margin: 1em;
  height: 5em;
  width: 20%;
  color: white;
  cursor: move;
}

#drop {
  margin-left: 2em;
}

.drop {
  display: inline-block;
  width: 194px;
  height: 174px;
  background: lightgrey;
  text-align: center;
}

.drop-hover {
  background: pink;
}

audio {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  width: 970px;
}