.drag-bar {
  margin: 1em;
  height: 5em;
  width: 50%;
  color: white;
  cursor: move;
}

.drop {
  width: 20%;
  min-height: 5em;
  margin: 1em;
  background: lightgrey;
}

.drop-hover {
  background: pink;
}

audio {
  display: none;
}