body {
  background: #f6ea9c;
}

.drag-item {
  display: inline-block;
  margin: 1em;
  height: 5em;
  width: 15%;
  color: white;
  cursor: move;
}

.drop {
  display: inline-block;
  width: 15%;
  min-height: 5em;
  /*margin: 1em;*/
  background: lightgrey;
}

.drop-hover {
  background: pink;
}

audio {
  display: none;
}

img {
  min-width: 100%;
  max-height: 100%;
}

.wrapper {
  width: 970px;
}